<!-- taskitem.component.html -->
<div class="task-item" [class.overdue]="isAtrasada" [class.completed]="task.status === 'Concluída'">
  <h3>{{ task.titulo }}</h3>
  <p>{{ task.descricao }}</p>
  <p>Status: {{ task.status }}</p>
  <p *ngIf="task.prazo">Data de Entrega: {{ task.prazo | date:'dd/MM/yyyy' }}</p>
  <div *ngFor="let subtask of task.subtarefas">
    <input type="checkbox" [checked]="subtask.completo"> {{ subtask.descricao }}
  </div>
  <button (click)="toggleStatus()">{{ task.status === 'Pendente' ? 'Marcar como Concluída' : 'Marcar como Pendente' }}</button>
  <button (click)="editTask()">Editar</button>
  <button (click)="deleteTask()">Excluir</button>
</div>
